a {
    color:darkolivegreen;
}
a:hover {
    color:greenyellow;
}
a:visited {
    color: gray;
}
button {
    background-color:darkolivegreen;
    color:black;
}
button:hover {
    color: greenyellow;
}
li:last-child {
    font-family: Monospace;
}
form input:focus {
    background-color:rgb(202, 202, 95)
}
form label:focus {
    background-color: rgb(202, 202, 95);
}
form textarea:focus {
    background-color: rgb(202, 202, 95);
}
body {
    background-color: darkslateblue;
    margin-right: 64px;
    margin-left: 64px;
    border: 1px solid black
}
h1 {
    color: brown;
    font-size: 60px;
    font-family: "Otsikot"
}
h2 {
    color:aqua;
    font-size: 48px;
    font-family: "Otsikot";
}
h3 {
    color:chartreuse;
    font-size: 32px;
    font-family: "Otsikot";
}
h4 {
    color:crimson;
    font-size: 18px;
    font-family: "Otsikot";
}
section {
    border: 12px;
    background-color: darkorchid;
}
footer {
    background-color: cornflowerblue;
    border: 12px;
}
@font-face {
    font-family: "Otsikot";
    src: url("Pinyon_Script/PinyonScript-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Muut tekstit";
    src: url("Special_Elite/SpecialElite-Regular.ttf");
    font-weight: normal
}
p {
    font-size: 16px;
    font-family: "Muut tekstit";
}
ul {
    color:antiquewhite
}