a {
    color:darkolivegreen;
}
a:hover {
    color:greenyellow;
}
a:visited {
    color: gray;
}
button {
    background-color:darkolivegreen;
    color:black;
}
button:hover {
    color: greenyellow;
}
li:last-child {
    font-family: Monospace;
}
form input:focus {
    background-color:rgb(202, 202, 95)
}
form label:focus {
    background-color: rgb(202, 202, 95);
}
form textarea:focus {
    background-color: rgb(202, 202, 95);
}
body {
    background-color: darkslateblue;
    margin-right: 64px;
    margin-left: 64px;
}
h1 {
    color: brown;
    font-size: 60px;
}
h2 {
    color:aqua;
    font-size: 48px;
}
h3 {
    color:chartreuse;
    font-size: 32px;
}
h4 {
    color:crimson;
    font-size: 18px;
}
section {
    border: 12px;
    background-color: darkorchid;
}
footer {
    background-color: cornflowerblue;
    border: 12px;
}